<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Informant</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <description>后台加载线索列表</description>
        <servlet-name>AdminLoadClueList</servlet-name>
        <servlet-class>com.servlet.AdminLoadClueList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoadClueList</servlet-name>
        <url-pattern>/admin/AdminLoadClueList</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>加载所有下拉框</description>
        <servlet-name>LoadDropdown</servlet-name>
        <servlet-class>com.servlet.LoadDropdown</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDropdown</servlet-name>
        <url-pattern>/admin/LoadDropdown</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>加载所有带“全部”选项值的搜索下拉框</description>
        <servlet-name>LoadSearchDropdown</servlet-name>
        <servlet-class>com.servlet.LoadSearchDropdown</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadSearchDropdown</servlet-name>
        <url-pattern>/admin/LoadSearchDropdown</url-pattern>
    </servlet-mapping>
</web-app>